/* Center container */
.forgot-container {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Purple top tab */
.forgot-title-box {
  width: 321px;
  background: #7C3AED;
  color: white;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  padding: 12px;
  border-radius: 20px ;
}

/* Blurred card */
.forgot-card {
  width: 320px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(25px);
  border-radius: 20px;
  padding: 20px 30px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  border: 1px solid rgba(255,255,255,0.3);
  text-align: left;
}


/* Wrapper that positions the icon and input together */
.forgot-input-wrapper {
  position: relative;
  width: 100%;
}

/* Icon inside input */
.forgot-input-icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
  opacity: 0.9;
}

/* Input styling */
.forgot-input {
  width: 100%;
  padding: 12px 14px 12px 40px;
  border-radius: 25px;
  border: 1.5px solid rgba(255, 255, 255, 1);
  background: transparent;
  color: white;
  font-size: 11px;
  box-sizing: border-box;
}

/* Placeholder color */
.forgot-input::placeholder {
  color: rgba(255, 255, 255, 0.85);
}


/* Button */
.forgot-btn {
  width: 100%;
  padding: 14px;
  margin-top: 16px;
  border-radius: 22px;
  background: white;
  color: black;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}

.forgot-btn:hover {
  background: #3B82F6;
}

.forgot-footer{
  font-size: 13px;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 20px;
}

.forgot-footer:hover{
  color: #3B82F6;
}
